* {
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, "Open Sans Condensed",
    sans-serif;
  min-height: 100vh;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: black;
}
